# Pandas basics !

In [1]:
import pandas as pd
data_frame=pd.DataFrame() #DataFrame "D and F should be capital in DataFrame keyword !"
print(data_frame)
df1=pd.DataFrame([[12,3,3,4],[23,4,4,35],[76,55,5,6],[3,54,43,53],[34,45,56,76]])
print(df1)

Empty DataFrame
Columns: []
Index: []
    0   1   2   3
0  12   3   3   4
1  23   4   4  35
2  76  55   5   6
3   3  54  43  53
4  34  45  56  76

In [2]:
df2=pd.DataFrame([[12,3,3,4],[23,4,4,35],[76,55,5,6],[3,54,43,53],[34,45,56,76]],columns=['A','B','C','D'])
print(df2)
#renaming columns !

    A   B   C   D
0  12   3   3   4
1  23   4   4  35
2  76  55   5   6
3   3  54  43  53
4  34  45  56  76

In [3]:
df2.shape #shape of data frame

(5, 4)

In [4]:
df2.head(3) #upper rows slicing

    A   B  C   D
0  12   3  3   4
1  23   4  4  35
2  76  55  5   6

In [5]:
df2.tail(2) #lower rows slicing

    A   B   C   D
3   3  54  43  53
4  34  45  56  76

# Slicing using iloc function !

In [6]:
print(df2)
df2.iloc[3,3] #for sclicing or navigating inside data frame we use iloc function !

    A   B   C   D
0  12   3   3   4
1  23   4   4  35
2  76  55   5   6
3   3  54  43  53
4  34  45  56  76

53

In [7]:
df2.iloc[3:5,2:4]

    C   D
3  43  53
4  56  76

In [8]:
df2.iloc[2:4,1:3]

    B   C
2  55   5
3  54  43

In [9]:
df2.iloc[1:3,0:2]

    A   B
1  23   4
2  76  55

In [10]:
df2.iloc[3:5,0:3]

    A   B   C
3   3  54  43
4  34  45  56

# Reading .csv file using pandas !

In [11]:
df=pd.read_csv('Stock_data.csv') #read excel file
df.head(5)

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,16-Oct-2020,27.60,28.75,30.00,28.00,28.2,28.10,28.98,197828,57.33,1305,70229,35.5
1,21STCENMGM,EQ,16-Oct-2020,9.70,9.60,9.70,9.55,9.55,9.55,9.58,900,0.09,11,500,55.56
2,3IINFOTECH,EQ,16-Oct-2020,3.20,3.20,3.25,3.10,3.15,3.15,3.13,1732904,54.31,1911,1026716,59.25
3,3MINDIA,EQ,16-Oct-2020,18704.90,18945.00,18945.00,18501.60,18750,18695.90,18671.98,4077,761.26,1665,2948,72.31
4,3PLAND,EQ,16-Oct-2020,6.35,6.65,6.65,6.10,6.6,6.60,6.20,613,0.04,11,562,91.68

In [12]:
print(df['PREV_CLOSE'])

0          27.60
1           9.70
2           3.20
3       18704.90
4           6.35
          ...
1986       23.70
1987      145.05
1988       76.45
1989       47.80
1990     1784.10
Name: PREV_CLOSE, Length: 1991, dtype: float64

# Writing in .csv file using pandas !

In [13]:
print(df2)

    A   B   C   D
0  12   3   3   4
1  23   4   4  35
2  76  55   5   6
3   3  54  43  53
4  34  45  56  76

In [14]:
df2.to_csv('sample_data.csv',index=False)

# Merging dataframes using merge() !

In [17]:
df5=pd.DataFrame([[1,2,3],[4,5,6],[7,5,9]],columns=['A','B','C']) #it is used to merge or find common columns in dataframe!
df6=pd.DataFrame([[3,4,5],[4,5,7],[9,5,7]],columns=['X','Y','Z']) #it returns common coloumns as output !
df7=pd.merge(df5,df6,left_on='B',right_on='Y')
print(df7)

   A  B  C  X  Y  Z
0  4  5  6  4  5  7
1  4  5  6  9  5  7
2  7  5  9  4  5  7
3  7  5  9  9  5  7

# Columns should be of same name in case of append !

In [16]:
df5=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]],columns=['A','B','C']) #simply returns a single dataframe
df6=pd.DataFrame([[3,4,5],[4,5,6],[9,6,7]],columns=['A','B','C']) #content of two data frame (df5,df6)
df8=df5.append(df6)
print(df8)

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9
0  3  4  5
1  4  5  6
2  9  6  7